@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.createOrder {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: rgb(71, 64, 64);
}

.btn {
    margin: 1em;
    width: 10em;
    height: 3em;
    border: none;
    border-radius: 2px;
    background-color: rgb(50, 206, 50);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    transition: 0.5s;
}

.btn:hover {
    border: 2px solid rgb(50, 206, 50);
    color: rgb(50, 206, 50);
    background-color: white;
}

.inputQty {
    font-family: 'Work Sans', sans-serif;
    outline: none;
    width: 4em;
    height: 2.05em;
    text-align: center;
    border: 2px solid rgb(50, 206, 50);
}

.minusBtn {
    width: 2.5em;
    height: 2.5em;
    border: none;
    border-radius: 1px;
    background-color: rgb(50, 206, 50);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    transition: 0.5s;
    outline: none;
}

.minusBtn:hover {
    border: 2px solid rgb(50, 206, 50);
    color: rgb(50, 206, 50);
    background-color: white;
}

.plusBtn {
    width: 2.5em;
    height: 2.5em;
    border: none;
    border-radius: 1px;
    background-color: rgb(50, 206, 50);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    transition: 0.5s;
    outline: none;
}

.plusBtn:hover {
    border: 2px solid rgb(50, 206, 50);
    color: rgb(50, 206, 50);
    background-color: white;
}