@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.addItems {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.newItem {
    margin: 5em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    padding: 2em;
}

.form-group {
    padding: 0.5em;
}

.form-control {
    width: 18em;
    height: 3em;
    border-radius: 2px;
    border: none;
    background-color: #f2f2f2;
    padding-left: 10px;
    font-family: 'Work Sans', sans-serif;
    outline-color: rgb(50, 206, 50);
}

.btn {
    margin: 1em;
    width: 10em;
    height: 3em;
    border: none;
    border-radius: 2px;
    background-color: rgb(50, 206, 50);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    transition: 0.5s;
}

.btn:hover {
    border: 2px solid rgb(50, 206, 50);
    color: rgb(50, 206, 50);
    background-color: white;
}

.file-input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input-label {
    text-align: center;
    border-radius: 2px;
    border: none;
    background-color: #f2f2f2;
    padding: 0.5em;
    padding-right: 13em;
    padding-left: 13em;
    font-family: 'Work Sans', sans-serif;
    outline-color: rgb(50, 206, 50);
    color: rgb(90, 87, 87);
    cursor: pointer;
}